click==6.7
Flask==0.12.2
Flask-Sockets==0.2.1
future==0.16.0
gevent==1.2.2
gevent-websocket==0.10.1
greenlet==0.4.12
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.0
pyserial==3.4
PyYAML==3.12
scipy==1.0.0
six==1.11.0
websocket-client==0.46.0
websockets==4.0.1
Werkzeug==0.14.1
